<div class="search container">
	<div class="row">
		<div class="col-sm-12">
			<legend> <h2>Search Result</h2></legend>
			<div class="well">
				<h3>There is # result we found</h3>
			</div>
		</div>
	</div>
</div>