<h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 250%"><b>Contact information</h1>
<div>
<p style="font-size: 150%"> <b>Developers </p>
<p> Jacky Liu : xxx@sfu.ca</p>
<p> Tina Salven :xxx@sfu.ca </p>
<p> Beibei Li : xxx@sfu.ca</p>
<p> Ningxuan Zhang: xxx@sfu.ca</p>
<p> Xin Tian : xxx@sfu.ca</p>
</div>
