<% @page_title = "FAQ" %>
<div class="FAQ container">
	<div class="row">
		<div class="col-sm-12">
			<legend><h3>FAQ</h3></legend>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<p class="panel-title">1.what can we do with this website? </p>
				</div>
				<div class="panel-body">
					<p> This website is basically for group activities </p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<p class="panel-title">2.why can't I create new group? </p>
				</div>
				<div class="panel-body">
					<p> Please log in before you create new group :) </p>
				</div>
			</div>
		</div>
	</div>
</div>
	




