<h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 250%"><b>FAQ</h1>
<div>
<p> <b>what can we do with this website? </p>
<p> answer: this website is basically for group activities </p>
</div>
<div>
<p> <b> why can't I create new group? </p>
<p> answer: Please log in before you create new group :)
</div>
