<% @page_title = "Site-Info" %>
<div class="siteInfo container text-center">
  <legend><h3>GroupIN</h3></legend>
  <p><em>GroupIN Developer Information</em></p>
  <p>Here are the five developers of GroupIN</p>
  <br>
  <div class="row">
  	<div class="col-sm-1"></div>
    <div class="col-sm-2">
      <p class="text-center"><strong>Xin Tian</strong></p><br>
      <a href="#XinTian" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Xin Tian" width="255" height="255">
      </a>
      <div id="XinTian" class="collapse">
        <p>Hello, I am Kevin</p>
        <p>SFU CS</p>
        <p>Lead Programmer</p>
      </div>
    </div>

	<div class=" col-sm-2">
      <p class="text-center"><strong>Tina Slaven</strong></p><br>
      <a href="#TinaSalven" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Tina Salven" width="255" height="255">
      </a>
      <div id="TinaSalven" class="collapse">
        <p>Hello, I am Tina</p>
        <p>SFU Mathmatics + CS</p>
        <p>Lead Programmer</p>
      </div>
    </div>

    <div class=" col-sm-2">
      <p class="text-center"><strong>Jacky Liu</strong></p><br>
      <a href="#JackyLiu" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Jacky Liu" width="255" height="255">
      </a>
      <div id="JackyLiu" class="collapse">
        <p>Jacky Here</p>
        <p>SFU CS</p>
        <p>UI Designer + Programmer</p>
      </div>
    </div>

    <div class=" col-sm-2">
      <p class="text-center"><strong>Bei Bei Li</strong></p><br>
      <a href="#BeibeiLi" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Beibei Li" width="255" height="255">
      </a>
      <div id="BeibeiLi" class="collapse">
        <p>Hello, 0v0</p>
        <p>SFU CS</p>
        <p>Programmer</p>
      </div>
    </div>


    <div class=" col-sm-2">
      <p class="text-center"><strong>Ning Xuan Zhang</strong></p><br>
      <a href="#NingxuanZhang" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Ningxuan Zhang" width="255" height="255">
      </a>
      <div id="NingxuanZhang" class="collapse">
        <p>Hi</p>
        <p>SFU CS</p>
        <p>UI Designer</p>
      </div>
    </div>
    <div class="col-sm-1"></div>

 
  </div>
</div>




