<div class="siteInfo container text-center">
  <h3>GroupIN</h3>
  <p><em>We love Group!</em></p>
  <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
  <br>
  <div class="row">
  	<div class="col-sm-1"></div>
    <div class="col-sm-2">
      <p class="text-center"><strong>Xin Tian</strong></p><br>
      <a href="#XinTian" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Xin Tian" width="255" height="255">
      </a>
      <div id="XinTian" class="collapse">
        <p>~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
      </div>
    </div>

	<div class=" col-sm-2">
      <p class="text-center"><strong>Tina Salven</strong></p><br>
      <a href="#TinaSalven" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Tina Salven" width="255" height="255">
      </a>
      <div id="TinaSalven" class="collapse">
        <p>~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
      </div>
    </div>

    <div class=" col-sm-2">
      <p class="text-center"><strong>Jacky Liu</strong></p><br>
      <a href="#JackyLiu" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Jacky Liu" width="255" height="255">
      </a>
      <div id="JackyLiu" class="collapse">
        <p>~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
      </div>
    </div>

    <div class=" col-sm-2">
      <p class="text-center"><strong>Beibei Li</strong></p><br>
      <a href="#BeibeiLi" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Beibei Li" width="255" height="255">
      </a>
      <div id="BeibeiLi" class="collapse">
        <p>~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
      </div>
    </div>


    <div class=" col-sm-2">
      <p class="text-center"><strong>Ningxuan Zhang</strong></p><br>
      <a href="#NingxuanZhang" data-toggle="collapse">
        <img src="/assets/person.jpg" class="img-circle person" alt="Ningxuan Zhang" width="255" height="255">
      </a>
      <div id="NingxuanZhang" class="collapse">
        <p>~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~</p>
      </div>
    </div>
    <div class="col-sm-1"></div>

 
  </div>
</div>




