<h1>Editing Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @group, {:style=>'color:blue;', :class => "css_class"}%> |
<%= link_to 'Back', groups_path, {:style=>'color:blue;', :class => "css_class"} %>
