<% @page_title = "Groups-Create" %>


<div class="groupCreate container">
  <div class="row">
    <div class="col-sm-12">
		<% if logged_in? %>

			<div class="form-horizontal">
				<fieldset>
				  <legend><h3>Create Gorup</h3></legend>
				  <%= render 'form' %>
				 <!--  <%= link_to 'Show', @group, :class => "css_class"%>
				  <%= link_to 'Back', groups_path, :class => "css_class"%> -->
				</fieldset>
			</div>
			<br>

		<% else %>
			<div class="well">
		    	<p style="text-algin:center"> Please log in before editing group</p>
		    </div>
		    <br>
		<%end%>
    </div>
  </div>  <!-- end row -->
</div><!-- end groupCreate container -->
