<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, {:style=>'color:blue;', :class => "css_class"} %> |
<%= link_to 'Back', users_path, {:style=>'color:blue;', :class => "css_class"} %>
