<% @page_title = "User-edit" %>
<% if logged_in?%>
 	<% if loggedin_user.admin? || @user.id==loggedin_user.id %>
	 <div class="userEdit container">
	  <div class="row">
	    <div class="col-sm-12">
	      <legend>
	        <h3>Edit Password</h3>
	      </legend>

	      <%= render 'form' %>
 	<%else%>
		<p style="color:red; font-size:200%;"> You do not have access for this page</p>
	<%end%>
<%else%>
	<p style="color:red; font-size:200%;"> Please log in before you edit your personal page</p>
<%end%>
    </div>
  </div>  <!-- end row -->
</div><!-- end groupEdit container -->
 




  
  
 
