
<h1 style="text-align: center;">Sign up</h1>
<p  style="text-align: center;">Please enter your information.</p>
<%= render 'form' %>
<%= link_to 'Back', users_path, {:style=>'color:blue;', :class => "css_class"}%>
