<% @page_title = "Sign Up" %>

<div class="SignUp container">
  <div class="row">
    <div class="col-sm-12">
      <legend>
        <h3 style="text-align: center;">Sign up</h3>
		<p  style="text-align: center;">Please enter your information.</p>
      </legend>

      <%= render 'form' %>
      
    </div>
  </div>  <!-- end row -->
</div><!-- end groupEdit container -->

  

    





