<!DOCTYPE html>  

<html>

  <head>
    <title>GroupIN - Welcome</title>
  </head>

<div id="images">
<img class="tag"><%= link_to image_tag("view.png"), "http://www.google.com", {:style=>'color:#fff;', :class => "tag"} %></img>

<img class="tag"><%= link_to image_tag("create.png"), "#", {:style=>'color:#fff;', :class => "tag"} %></img>
</div>




</html>