
<div id="images">
<img><%= link_to(image_tag("view.png"), {:controller => 'groups', :action => 'index'}, :class => "tag") %></img>
<img><%= link_to(image_tag("create.png"),{:controller => 'groups', :action => 'new'}, :class => "tag") %></img>
</div>



