<% @page_title = "Ad_Request-delete" %>

<div class="Ad_Request-delete container">
  <div class="row">
    <div class="col-sm-12">
      <% if logged_in? %>
        <%if loggedin_user.admin? %>
          <!-- <%= link_to("<< Back to List", ad_requests_path, {:style=>'color:blue;', :class => "css_class"}) %> -->
          <%= form_for(@request, :method => 'delete') do |f| %>
            <div class="well">
              <p style="text-align:center;">Are you sure you want to permanently delete this request?</p>
              <p style="text-align:center; color:red;"><%= f.object.ad_name %></p>
            </div> 
            <%= f.submit("Delete Request", :class => "btn btn-warning ") %>
          <% end %>

        <%else%>
          <div class="well">
            <p style="text-align:center">This page can only be viewed by admin user</p>
          </div>
        <%end%>

      <%else%>
        <div class="well">
          <p style="text-align:center">Please log in before you sending ad request</p>
        </div>
      <%end%>
      <br>
   </div>
  </div>  <!-- end row -->
</div><!-- end Ad_Request-delete container -->

