/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.

*/

.WelcomeCategory{
	/*background-image: url('weather.jpg');*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*height: 500px;*/
    /*margin-top: -15px;*/
    /*background-color: #1abc9c;*/
    padding-top: 100px;
    padding-bottom: 70px;
    margin-top: -25px;
    /*margin-bottom: 250px;*/
}